<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.matthew.braggingrights" >

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/tree"
        android:label="@string/app_name"
        android:theme="@style/MyAppTheme" >

        <activity android:name="io.normyle.braggingrights.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="io.normyle.braggingrights.CreateGoalActivity"
            android:label="@string/title_activity_create_goal"
            android:parentActivityName="io.normyle.braggingrights.MainActivity"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="io.normyle.braggingrights.GoalViewActivity"
            android:parentActivityName="io.normyle.braggingrights.MainActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <!-- TODO: programatically enable this when at least one alarm is set -->
        <receiver
            android:name="io.normyle.braggingrights.BootupReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="io.normyle.braggingrights.AlarmReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="io.normyle.braggingrights.AlarmReceiver" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
